<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1><b>Hii Akdon</b></h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <p>Upload Your Photo</p>
        <input type="file" name="photo" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>