<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Akdon</h1>
    <div>
        <label>
            Enter URL
        </label>
        <input type="text" placeholder="https://abc.com" name="url" />
    </div>
    <button type="submit">Generate</button>
</body>
</html>